
#otw_grid_manager_content{
	clear: both;
}
.otw_grid_manager_container p a{
	font-style: normal !important;
}

div.postbox div.otw_closed{
	display: none;
}

h3.sitem_header{
	cursor: pointer !important;
}
div.sitem_toggle{
	cursor: pointer !important;
}
div.sitems{
	margin: 0 !important;
	clear: both;
}
div.sitems p{
	height: 24px;
	line-height: 20px;
	cursor: pointer;
	margin: 2px 0 !important;
	padding: 0 !important;
	margin: 0;
	clear: both;
}
div.sitems p.all{
	border-bottom: 1px solid #d4d4d4;
	border-top:1px solid #D4D4D4;
}
div.sitems p.sitem_selected a{
	background: url( ../images/swm-selected.png ) no-repeat 10px center;
	font-weight: bold;
}
div.sitems p.sitem_notselected a{
	background: url( ../images/swm-notselected.png ) no-repeat 10px center;
}
div.sitems p.sitem_loading a{
	background: url( ../images/loading.gif ) no-repeat 10px center;
}
div.sitems p a{
	display: block;
	padding: 5px 0 5px 30px;
	text-decoration: none;
}
div.sitems p a:hover{
	text-decoration: underline;
	background-color: #EEEEEE;
}
div.sitems p input{
	float: left;
	visibility: hidden;
}
div.lf_items p a{
	color: #21759B !important;
}
div.d_info p{
	margin: 0px;
	padding: 0px;
}
div.d_info p img{
	vertical-align: middle;
	margin-right: 5px;
}
td.overlay_active{ text-transform: uppercase; color: #008000; font-weight: bold; }
td.overlay_inactive{ text-transform: uppercase; color: #D00000; font-weight: bold; }
div.all_vis_lnks{
	float: left;
	width: 100%;
	border-bottom: 1px solid #cccccc;
}
div.all_vis_lnks a{
	line-height: 30px;
	display: block;
	float: left;
	text-decoration: none;
}
div.all_vis_lnks a.all_vis{
	background: url( '../images/selected.gif' ) no-repeat left center;
	padding: 0 10px 0 30px;
	border-right: 1px solid #cccccc;
	margin-left: 10px;
}
div.all_vis_lnks a.all_invis{
	background: url( '../images/not_selected.gif' ) no-repeat left center;
	padding: 0 10px 0 30px;
	margin-left: 10px;
	border-right: 1px solid #cccccc;
}
div.all_vis_lnks a.all_loading{
	background-image: url( '../images/loading.gif' );
}
div.all_vis_lnks a.all_selected{
	background-image: url( '../images/current.gif' );
}
div.all_vis_lnks input.q_filter{
	float: right;
	width: 300px;
	margin: 3px 2px 0 0;
	color: #cccccc;
}
div.otw_pswl_all_links a.all_vis{
	color: #21759B !important;
}
div.otw_pswl_all_links a.all_invis{
	color: #21759B !important;
}
div.man_all_vis_lnks{
	float: left;
	width: 100%;
	margin: 0 0 5px 0;
}
div.man_all_vis_lnks div.sitem_loading{
	background: url("../images/loading.gif") no-repeat scroll left center transparent;
	clear: both;
	float: right;
	width: 100%;
}
div.man_all_vis_lnks div input.otw_pswl_q_filter{
	float: right;
	width: 98%;
	margin: 3px 2px 0 10px;
	color: #cccccc;
}
div.otw_pswl_selected_items{
	color: #666666;
	margin-left: 25px;
	display: none;
}
#otw_pswl_selected{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	border: 1px solid #BBBBBB;
	clear: both;
	float: left;
	margin: 10px 0 0 100px;
	width: 340px;
	height: 30px;
	
}
#otw_pswl_selected input{
	float: right;
	width: 50px;
	border: none;
	cursor: pointer;
}
#otw_pswl_selected div{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	float: left;
	height: 20px;
	margin: 4px 0 0 1px;
	line-height: 20px;
	color: #464646;
}
#otw_pswl_selected div a{
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: url("../images/action_delete.png") no-repeat scroll right 2px transparent;
}
#otw_pswl_selected div a span{
	display: none;
}
div.otw_overlay_all_selection input{
	float: left;
	margin: 0 5px 0 10px;
	padding: 0;
}
div.otw_overlay_all_selection label{
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	
}
div.otw_overlay_item_filter{
	border: 1px solid #E5E5E5;
	padding: 4px 0;
	margin: 10px 0 10px 0;
	background-color: #F0F0F0;
	float: left;
	width: 100%;
}
div.otw_overlay_item_filter label{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3px;
	font-size: 12px;
}
div.otw_overlay_item_filter .otw_overlay_filter_search{
	float: left;
	margin-left: 5px;
}
div.otw_overlay_item_filter .otw_overlay_filter_show{
	float: right;
}
div.otw_overlay_item_filter .otw_overlay_filter_order{
	float: right;
}
div.otw_overlay_item_filter .otw_overlay_filter_clear{
	float: right;
}
div.otw_overlay_item_filter .otw_overlay_filter_clear a{
	text-decoration: none;
	margin: 3px 10px 0 15px;
	display: block;
}
div.otw_overlay_item_filter.sitem_loading{
	background: url( ../images/loading.gif ) no-repeat left center #F0F0F0;
}
div.otw_overlay_item_pager{
	border-top: 1px solid #E5E5E5;
	overflow: hidden;
	padding: 5px 0;
	margin-top: 15px;
	clear: both;
}
div.otw_overlay_item_pager div.otw_overlay_pager_links{
	float: left;
	margin-top: 3px;
	margin-left: 15px;
}
div.otw_overlay_item_pager div.otw_overlay_pager_links a{
	text-decoration: none;
	color: #222222 !important;
	margin-right: 5px;
}
div.otw_overlay_item_pager div.otw_overlay_pager_links a.otw_selected_page{
	color: #21759B !important;
}
div.otw_overlay_item_pager div.otw_overlay_pager_items{
	float: right;
}
div.otw_overlay_item_pager div.otw_overlay_pager_items label{
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}
div.otw_overlay_item_pager div.otw_overlay_pager_items select{
	margin-right: 15px;
}
div.otw_pswl_all_actions{
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 5px;
}
div.otw_pswl_all_actions .otw_pswl_all_links{
	float: left;
	margin-bottom: 8px;
}
div.otw_pswl_all_actions .otw_pswl_selected_items{
	float: right;
	margin-bottom: 8px;
}
div.otw_pswl_all_actions .otw_pswl_all_links a{
	text-decoration: none;
}
div.otw_overlay_options{
	display: none;
}
div.otw_overlay_openened{
	display: block;
}
div.otw_overlay_options div.inside{
	overflow: hidden;
}
div.otw_overlay_options div.inside label{
	width: 80px;
	text-align: left;
}
div.otw_overlay_options div.inside .otw-form-control label{
	width: 145px;
}
div.otw_overlay_options div.inside .otw-select-wrapper{
	width: 270px;
}
div.otw_overlay_options div.inside .otw-form-hint{
	margin-left: 0px;
}
div.otw_overlay_options div.inside .otw-form-text-input{
	width: 270px;
}
div.otw_overlay_options div.inside .otw-form-datetimepicker input{
	width: 135px;
}
div.otw_overlay_options div.inside .otw-form-uploader{
	width:225px;
}
#otw-col-left{
	float: left;
	width: 43%;
}
#otw-col-right{
	float: right;
	width: 55%
}

@media only screen and (max-width: 767px){
	#otw-col-left{
		clear: both;
		float: left;
		width: 100%;
	}
	#otw-col-right{
		clear: both;
		float: left;
		width: 100%;
	}
}
.otw-visbitily-header{
	background-color: #ffffff;
	cursor: default !important;
	border: 1px solid #E5E5E5;
}
.otw_pswl_global_manage_settings{
	padding: 10px 5px 5px 5px;
}

.wp-media-buttons img {
	padding: 0 4px;
	vertical-align: middle;
}

.wp-media-buttons span.wp-media-buttons-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	margin: 0 2px;
}

.wp-media-buttons .add_media span.wp-media-buttons-icon {
	background: none;
}

.wp-media-buttons .add_media span.wp-media-buttons-icon:before {
	font: normal 18px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wp-media-buttons .add_media span.wp-media-buttons-icon:before {
	content: '\f104';
}
.otw_updated{
    background-color: #FFFFFF;
    border-left: 4px solid #7AD03A;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 1px 12px;
    margin: 10px 2px 0 1px;
}